###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Ll]ogs/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
*.log
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
*.dwlt

Umami_TopNotch_Project/.idea/

Umami_TopNotch_Project/Assets/Project/Scenes/Sandboxes/Alaa/TestZenjection.cs

Umami_TopNotch_Project/Recordings/

Umami_TopNotch_Project/.vs/

Umami_TopNotch_Project/UserSettings/EditorUserSettings.asset

Umami_TopNotch_Project/Builds/

!Modules/*
!Modules/*/*
!Modules/*/*/*
!Modules/*/*/*/*

Modules/.vs/
Modules/.idea/
Modules/Module_Economy/Project/obj/

Modules/Module_Economy/.idea/

Umami_TopNotch_Project/Assets/Firebase/Plugins/x86_64/
Modules/Module_Economy/.vs/

Modules/Module_Objectives/.vs/

Umami_TopNotch_Project/MemoryCaptures/
